<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Star Sighting content</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/starsightingtitle.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>  
		<script type="text/javascript" src="js/jquery.flash.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.menu').flash({ 
					src: 'cervial_header.swf',
					width:970,
					height:127
				});
			});
		</script>

</head>
	<body>
		<div id="wrap">
		    <div id="header">
                <div class="menu">
                </div>
		    </div>
            <div id="navi_wrap">
                <div id="navi">

                    <ul>
                      <li><a href="Product.html">Products</a></li>
                      <li><a href="AboutUs.html">About Us</a></li>
                      <li><a href="NewsEvents.html">News/Events</a></li>
                      <li><a href="Distributors.html">Distributor</a></li>
                      <li><a  href="sponsors.html">Sponsors</a></li>
                      <li><span><a href="StarSighting.html">Star Sighting</a></span></li>
                      <li><a href="ContactUs.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
		    <div id="content_wrap">
                <div class="content starsightingtitle_bg">
                   <div class="breadcrumb">
                        <a href="#">Cervival Home<span> &gt; </span></a>
                        <a href="#">Star Sighting<span> &gt; </span></a>
                        <a href="#">Star Sighting Title</a></div>
               <div class="image_box right">
                       <img src="images/movie.jpg" />
            	   </div>
                   <div id="starsightingtitle_txtbox" class=" left">
                       <h3 class="starsightingtitle_h3">Star Sighting Title 
                       </h3>
                     <h4 class="starsightingtitle_h4">2010/02/15</h4>
                        <p>
                           Are you sick of riding the same machine shaped surfboard as the guy next to you in the 
                           line-up? Do you want to become a complete surfer? If yes, then there is no better way 
                           then to make your own surfboard. Normally you enter a shop, buy a board and spend 
                           endless hours in the ocean. If the board doesn't work you sell it and get a new one. But 
                           you'll never know why it didn't work: Was it the rails, the concave or tail shape? This is 
                           about to change! You will make your own surfboard and begin to understand how complex a 
                           surfboard really is.
                        </p>
                        <p>
                        Riley Balsawood Surfboards has specialised in shaping kits and instructions which make it a 
                        breeze to make a surfboard even for complete novices. In the new secure online 
                        shop products range from instructional Ebooks, DVDs, fin blanks all the way to complete 
                        shaping kits (solid and with a recycled EPS core) starting at just $280 AUD - 170 EURO 
                        - 245 USD. The new shop offers products for hard core- and recreational shapers alike. 
                        All items are shipped worldwide at very competitive prices.
                        </p>
                        <a class="backurl" href="#" >Back to Star Sighting  &gt;&gt;</a>
                    </div>
           	  </div>
             </div>
		    <div id="footer">
				<h6>Cervival Original Extreme</h6>
			  <address>Copyright ©2010 - CERVIVAL.COM - All rights reserved </address>
				<ul>
			    	<li  class="first"><a href="#">Products</a></li>
			        <li><a href="#">About Us</a></li>
			        <li><a href="#">News/Events</a></li>
			        <li><a href="#">Distributor</a></li>
			        <li><a href="#">Sponsors</a></li>
			        <li><a href="#">Star Sighting</a></li>
			        <li><a href="#">Contact Us</a></li>
			   </ul>
		  </div>
		</div>
	</body>
</html>
