@charset "utf-8";


body{ 		background:#FFFFFF;
			width:100%;
			}
a img { 
border: none; 
}
#wrap{		display:block;
			padding:0;
			margin:0 auto;
			width:990px;
			height:500px;
			}
#header{ 
			margin-bottom:5px;
			width:990px;
			height:90px;
			background:  url(../images/header1.jpg);
			border:1px solid #cecece;
			}
#navi{ 
			float:left;
			width:168px;
			border:1px solid #cecece;
			background:#ffffff url(../images/navi.jpg) repeat-y;
			}	
#content{ 
			width:812px;
			float:right;
			border:1px solid #cecece;			
			margin:0px 0px 10px 0px;
            clear:right;
			background:url(../images/content.jpg)  0 0 no-repeat;
			}	
#objContent{ 
			width:812px;
			float:right;
			border:1px solid #cecece;			
			margin:0px 0px 10px 0px;
            clear:right;
			background:url(../images/content.jpg)  0 0 no-repeat;
}

#footer {
            clear:both;
			margin:10px 0 0 0;
			width:978px;
			height:70px;
			}
			
/* header*/	
			
address{ 	
			width:100%;
			font :normal 12px/150%  arial,verdana, helvetica,  sans-serif;
			margin:-5px 10px 0 -8px;
			font-style:normal;
			position:relative;
			text-align:right;
			color: #a6a6a6;		
			}	
			
#header h1{	
			font :bold 22px/110%  "微軟正黑體",arial,"新細明體",verdana, helvetica,  sans-serif;
			position:absolute;
			text-align:left;
			color:#5f5f5f;
			margin:-60px 0 0 140px;
			clear: both;			
			}
a.headerurl{
			font :normal 14px/150%  "新細明體",verdana,"微軟正黑體",arial, helvetica,  sans-serif;
			margin:0 0 0 8px;
			text-decoration: none;
		    }	
#header a:link{
			color: #9d0000;			
			}
#header a:visited{
			color: #9d0000;			
			text-decoration: none;
			}
#header a:hover{
			color: #ff0000;			
			text-decoration:underline;
			}
#header a:acitve{
			color: #ff0000;			
			text-decoration:underline;
			}
			
h4 {
			color:#000000;
			font-size:15px;
			line-height:1.2em;
			margin:20px 0 10px 20px;
			}
			
h5{
			color:#000000;
			font-size:14px;
			line-height:1.2em;
			margin:20px 0 5px 20px;
			}
/* notes*/
p.account{
			font-size:15px;
			color:#616161;
			float:right;
			margin:-32px 50px 0 0;
			}
p.notes{
			font-size:12px;
			line-height:1.2em;
			font-weight:normal;
			color:#000000;
			margin:0 0 0 24px;
			}
p.select{
			font-size:13px;
			color:#616161;
			text-indent:2em;
			}

p.second{
			margin:5px 4px 0 0;
			*_margin-right:-4px;
			float:right;
			}
p.dat{			
			font :normal 12px/150%  "微軟正黑體",arial,"新細明體",verdana,helvetica,sans-serif;
			margin:5px 10px 10px 20px;
			color:#808080;
			}

/* page bread*/
.page-bread ,.page-bread p,.page-bread a{
			font :normal 14px/150%  "新細明體",verdana,"微軟正黑體",arial,helvetica,sans-serif;
			width:800px;
			*height:20px;
			margin:10px 0 0 10px;
			*_margin:5px 0 0 5px;
			color:#616161;
			text-decoration:none;
			}
.page-bread a:hover{	
			color:#616161;
			text-decoration:underline;
			}
.page-bread b {
			color:#900003;
			font-weight:normal;
			}
.page-bread b.user {	
			float:right;
			margin:0 20px 0 0;
			*_margin:0 10px 0 0;
			color:#616161;
			text-decoration:none;
			}
.page-bread b.lang{
			float:right;
			margin:0 20px 0 0;
			*_margin:0 10px 0 0;
			color:#616161;
			text-decoration:none;
			}			
.top-next{
			text-align:right;
			margin:-20px 0 -4px -40px;
			*_margin:-10px 0 -2px -20px;
			}

.bottom-next{
			text-align:right;
			margin:-10px 0 10px -36px;
			*_margin:-5px 0 5px -18px;
			}

					
/* footer */
#footer p,#footer a{
			font :12px/1.1em  "新細明體",verdana,"微軟正黑體",arial, helvetica,sans-serif;
			color:#8e8e8e;
			text-align:center;
			}
			
/* navi menu */
h3.title{
	font :bold 14px/150%  "新細明體",verdana,"微軟正黑體",arial, helvetica,sans-serif;
	border-bottom:1px solid #cfcfcf ;
	color: #9d0000;	
	text-indent:1.2em;
	width:85%;
	margin:15px  auto 0 ;
	background:url(../images/treeview-default.gif) -62px -22px no-repeat;
}

/* input */
textarea {
	width:98%;
	height:5em;
	margin:4px auto;
	}
input[type="text"]{
	width:25em;
	margin:4px 2px 4px 0;}
input[type="field"]{
	width:7.5em;
	margin:4px 2px 4px 0;
		}
/* button */
.button60{
			margin:-2px 0 0 5px;
		   font-size:12px;
		   color:#ffffff;
		   width:60px;
		   height:25px;
		   background:url(../images/button60.gif) no-repeat;
		   border-style:normal;
		   border-width:0px;
}
.button80grey{
			margin:-2px 20px 10px 25px;
		   font-size:12px;
		   color:#ffffff;
		   width:80px;
		   height:25px;
		   background:url(../images/button80grey.gif) no-repeat;
		   border-style:normal;
		   border-width:0px;
}
.button80{
			margin:-2px 20px 10px 25px;
		   font-size:12px;
		   color:#ffffff;
		   width:80px;
		   height:25px;
		   background:url(../images/button80.gif) no-repeat;
		   border-style:normal;
		   border-width:0px;
}
.button100{
			margin:-2px 0 10px 25px;
		   font-size:12px;
		   color:#ffffff;
		   width:100px;
		   height:25px;
		   background:url(../images/button100.gif) no-repeat;
		   border-style:normal;
		   border-width:0px;
}

.button120{
			margin:-2px 0 10px 5px;
		   font-size:12px;
		   color:#ffffff;
		   width:120px;
		   height:25px;
		   background:url(../images/button120.gif) no-repeat;
		   border-style:normal;
		   border-width:0px;
}

/*table  */

#content table {
	width:95%;
	border-top:1px solid #cecece;
	border-right:1px solid #cecece;
	margin:1em auto;
	border-collapse:collapse;
	margin:0 auto;
	padding:0;
	font :normal 12px/120% "新細明體",verdana,"微軟正黑體",arial, helvetica,  sans-serif;
	}
#content table a,
#content table a:link,
#content table a:visited {
	border:none;
	}							
	
#content caption {
	color: #FFFFFF;
	font-size:.01em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
#content td {
	color:#797268;
	border-bottom:1px solid #cecece;
	border-left:1px solid #cecece;
	padding:.3em 1em;
	text-align:left;
	}				
#content th {
	font-weight:normal;
	color: #797268;
	border-bottom: 1px solid #cecece;
	border-left:1px solid #cecece;
	padding:.3em 1em;
	width:8em;
	}			

#content thead th {
	background:#efefef;
	text-align:center;
	font:bold 1.2em/2em "新細明體",verdana,"微軟正黑體",arial, helvetica,  sans-serif;
	color:#af0000
	}	

#content tr.odd td	{
	background:#efefef;
	}
#content tr.odd .column1	{
	background:#efefef;
	}	
#content .column1	{
	background:#ffffff;
	}	

#objContent table {
	width:1200px;
	border-top:1px solid #cecece;
	border-right:1px solid #cecece;
	margin:1em auto;
	border-collapse:collapse;
	margin:0 auto;
	padding:0;
	font :normal 12px/120% "新細明體",verdana,"微軟正黑體",arial, helvetica,  sans-serif;
	}
#objContent table a,
#objContent table a:link,
#objContent table a:visited {
	border:none;
	}							
	
#objContent caption {
	color: #FFFFFF;
	font-size:.01em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
#objContent td {
	color:#797268;
	border-bottom:1px solid #cecece;
	border-left:1px solid #cecece;
	padding:.3em 1em;
	text-align:left;
	}				
#objContent th {
	font-weight:normal;
	color: #797268;
	border-bottom: 1px solid #cecece;
	border-left:1px solid #cecece;
	padding:.0em 0em;
	}			

#objContent thead th {
	background:#efefef;
	text-align:center;
	font:bold 1.2em/2em "新細明體",verdana,"微軟正黑體",arial, helvetica,  sans-serif;
	color:#af0000
	}	

#objContent tr.odd td	{
	background:#efefef;
	}
#objContent tr.odd .column1	{
	background:#efefef;
	}	
#objContent .column1	{
	background:#ffffff;
	}	

h3.treeview_title{
	font :bold 14px/150%  arial,"新細明體","微軟正黑體",verdana, helvetica,  sans-serif;
	border-bottom:1px solid #cfcfcf ;
	color: #9d0000;	
	text-indent:1.2em;
	width:85%;
	margin:15px  auto;
	background:url(../images/treeview-default.gif) -62px -22px no-repeat;
}
.treeview a img { 
border: none; 
}
.treeview a strong {
	color: #9d0000;
}
.treeview strong.gray {
	color:#7f7f7f;
}

.treeview a {
	font :normal 14px/150%  arial,"新細明體","微軟正黑體",verdana, helvetica,  sans-serif;
	text-decoration: none;
}
.treeview a:link{
	color: #000000;}
.treeview a:visited{
	color: #000000;}
.treeview a:hover{
	color: #9d0000;}
.treeview a:acitve{
	color: #9d0000;}
.treeview, .treeview ul { 
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.treeview .hitarea {
	background:url(../images/treeview-default.gif) -63px -22px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 20px;}


.treeview .hover { color: red; cursor: pointer; }

.treeview li.expandable { background-position: 0 -175px; }

.treeview .expandable-hitarea { background-position: -79px 0px; }